:root{
    --color-text: #ffffff;
    --color-link: #09609a;
  }
  .header {
    position: relative;
    height: 100vh;
    box-sizing: border-box; 
    overflow: hidden;
    margin: auto;
}
.header .container{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
}
@media (min-width: 1200px){
    .header .container{
        padding-left: 80px;
        padding-right: 80px;
    }
}
.header .images-slider{
    position: absolute;
    top: 0;
    width: 100%;
}
.header .images-slider .all-images{
    position: relative;
    width: 100%;
    height: 100%;
}
.header .images-slider .all-images img{
    position: absolute;
    width: 100%;
    height: 3000px;
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
}
.header .images-slider .all-images img.active{
    opacity: 1;
}
.header .container{
    width: 100%;
}
.header .container .header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.header .container .header-content .img-logo{
    width: 140px;
    z-index: 2;
}
.header .container .header-content .img-logo img{
    width: 100%;
    height: 100%;
}
.header .container .header-content .icon-bars{
    display: none;
    z-index: 70;
}
.header .container .header-content ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    width: 70%;
    z-index: 1;
}
.header .container .header-content ul li{
    text-align: center;
    margin-left: 60px;
    position: relative;
}
.header .container .header-content ul li::before,
.header .container .header-content ul li::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -10px;
    background-color: var(--color-link);
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
}
.header .container .header-content ul li::before{
    left: 50%;
}
.header .container .header-content ul li::after{
    right: 50%;
}
.header .container .header-content ul li:hover::before,
.header .container .header-content ul li:hover::after{
    width: 50%;
}
.header .container .header-content ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}
@media (max-width: 992px){
    .header .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 768px){
    .header .container .header-content ul li a:hover{
        color: var(--color-link);
    }
}
@media (max-width: 768px){
    .header .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header .container .header-content .icon-bars{
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: var(--color-link);
    }
    .header .container .header-content ul{
        position: absolute;
        z-index: 300;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        opacity: 0;
        left: 0;
        top: 110px;
        background-color: var(--color-link);
        padding: 15px;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
        -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
        -o-transition: opacity 1s ease;
}
    .header .container .header-content ul.active{
        opacity: 1;
    }
    .header .container .header-content ul::before{
        content: "";
        position: absolute;
        right: 8px;
        top: -27px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent var(--color-link) transparent;
    }
    .header .container .header-content ul li::before,
    .header .container .header-content ul li::after{
        display: none;
    }
    .header .container .header-content ul li:not(:last-child){
        margin-bottom: 15px;
    }
    .header .container .header-content ul li{
        margin-left: 5px;
        width: 100%;
        text-align: start;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-text);
    }
    .header .container .header-content ul li:last-child{
        border: none;
        padding-bottom: 0;
    }
    .header .container .header-content ul li a{
        color: var(--color-text);
    }
}
.header .container .text-content{
    position: absolute;
    z-index: 71;
    margin-left: 60px;
    top: 40%;
}
.header .container .text-content .p-one{
    color: var(--color-text);
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 10px;
}
.header .container .text-content .paragraphs p{
    color: #a8b2ba;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
.header .container .icons{
    position: absolute;
    margin-left: 60px;
    top: 57%;
    z-index: 75;
}
@media (max-width: 768px){
    .header .container .text-content{
        margin-left: 0;
        top: 35%;
    }
    .header .container .text-content .p-one{
        font-size: 33px;
    }
    .header .container .icons{
        margin-left: 0;
        top: 52%;
    }
}
@media (max-width: 550px){
    .header .container .text-content{
        margin-left: 0;
        top: 30%;
    }
    .header .container .text-content .p-one{
        font-size: 28px;
    }
    .header .container .text-content .paragraphs p{
        font-size: 15px;
    }
    .header .container .icons{
        margin-left: 0;
        top: 44%;
    }
}
@media (max-width: 400px){
    .header .container .text-content .p-one{
        font-size: 25px;
    }
    .header .container .text-content .paragraphs p{
        font-size: 14px;
    }
    .header .container .icons{
        margin-left: 0;
        top: 46%;
    }
}
.header .container .icons .icon-left,
.header .container .icons .icon-right{
    font-size: 24px;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    cursor: pointer;
    transition: border-color 1s ease, color 1s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: border-color 1s ease, color 1s ease;
    -moz-transition: border-color 1s ease, color 1s ease;
    -ms-transition: border-color 1s ease, color 1s ease;
    -o-transition: border-color 1s ease, color 1s ease;
}
.header .container .icons .icon-right.active,
.header .container .icons .icon-left.active{
    border-color: var(--color-link);
    color: var(--color-link);
}
.header .about-us{
    position: absolute;
    z-index: 200;
    transform: translateY(63%);
    display: flex;
    left: 30%;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(63%);
    -moz-transform: translateY(63%);
    -ms-transform: translateY(63%);
    -o-transform: translateY(63%);
}
.header .about-us .img-about{
    width: 50%;
    height: 40%;
}
.header .about-us .img-about img{
    width: 100%;
    height: 100%;
}
.header .about-us .about-content{
    width: fit-content;
    height: 100%;
    background-color: var(--color-link);
    color: var(--color-text);
    padding: 40px 20px;
}
.header .about-us .about-content h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}
.header .about-us .about-content .p-one-content{
    margin-bottom: 60px;
}
.header .about-us .about-content p{
    font-size: 15px;
    line-height: 1.6;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 992px){
    .header .about-us .about-content{
        width: 250px;
    }
    .header .about-us .about-content h3{
        margin-bottom: 40px;
    }
}
@media (max-width: 768px){
    .header .about-us{
        display: none;
    }
}
.header .about-mobile{
    display: none;
}
@media (max-width: 768px){
    .header .about-mobile{
        display: block;
    }
}
.header .about-mobile{
    position: absolute;
    z-index: 250;
    left: 0;
    bottom: 0;
    background-color: var(--color-link);
    color: var(--color-text);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.header .about-mobile .container h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.header .about-mobile .container p{
    font-size: 15px;
    line-height: 1.6;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
@media (max-width: 400px){
    .header .about-mobile .container .p-two{
        display: none;
        margin-bottom: 0;
    }
}